*{
    text-align: center;
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 14px;
}

header{

}

#top-bar{
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    border: 1px solid #EFEFEF;
}

#top-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top-bar ul li{
    font-weight: bold;
    box-shadow: 1px 1px #EFEFEF;
    float: left;
    color: black;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    border: 1px solid #EFEFEF;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    font-weight: bold;
    box-shadow: 1px 1px #EFEFEF;
    float: left;
    color: black;
    padding: 10px;
}


#top-bar li:hover, nav li:hover{
    background-color: #C80002;
}

footer{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6FB76B;
    color: white;
}

